<div class="container-fluid">
    <div class="row">
        <div class="col col-3">
            <!-- List of images on left side -->
            <app-list-images [imageset]="imageset"></app-list-images>
        </div>

        <div class="col col-6">
            <!-- Annotation window in center of screen -->
            <div class="card">
                <h5 class="card-header">Annotate {{image.name}}</h5>
                <img class="card-img" [src]="mediaUrl + image.url">
                <div class="card-body">
                    <h5 class="card-title">Annotations</h5>
                    <div *ngFor="let annotation of image.annotations">
                        <div class="dropdown-divider"></div>
                        <span>{{findAnnotationType(annotation.annotationType).name}}
                            {{annotation.blurred ? '(blurred)' : ''}}
                            {{annotation.concealed ? '(concealed)' : ''}}
                        </span>
                        <button class="btn btn-danger float-right" (click)="actDeleteAnnotation(annotation.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-3">
            <!-- AnnotationType controls -->
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="annotationConfigForm">
                        <div class="form-group">
                            <label for="inp-annotationType">Select an Annotation Type</label>
                            <select id="inp-annotationType" class="form-control" formControlName="annotationType">
                                <option *ngFor="let at of annotationTypes">{{at.name}}</option>
                            </select>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" id="inp-notInImage" type="checkbox"
                                   formControlName="notInImage">
                            <label class="form-check-label" for="inp-notInImage">Not in Image</label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" id="inp-blurred" type="checkbox" formControlName="blurred">
                            <label class="form-check-label" for="inp-blurred">Blurred</label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" id="inp-concealed" type="checkbox"
                                   formControlName="concealed">
                            <label class="form-check-label" for="inp-concealed">Concealed</label>
                        </div>
                    </form>
                    <div class="alert alert-danger">At some point there will be a bounding box which can be moved with
                        i j k l
                    </div>
                </div>
            </div>

            <div class="my-2"></div>
            <!-- Navigation buttons -->
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="form-group form-check">
                            <input class="form-check-input" id="inp-keepSelection" type="checkbox"
                                   [formControl]="keepAnnotationForNextImage">
                            <label class="form-check-label" for="inp-keepSelection">
                                Keep Selection for next Image
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <button class="btn btn-outline-secondary col mx-3 my-1">Reset</button>
                                <button class="btn btn-outline-success col mx-3 my-1">Save</button>
                            </div>
                            <div class="row">
                                <button class="btn btn-outline-secondary col mx-3 my-1">Back</button>
                                <button class="btn btn-outline-secondary col mx-3 my-1">Next</button>
                            </div>
                            <div class="row">
                                <button class="btn btn-outline-success col mx-3 my-1">Back and Save</button>
                                <button class="btn btn-outline-success col mx-3 my-1">Next and Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
