<div class="card" style="text-align: left;">
    <div class="card-header">
        <h3>
            Unanassigned Annotation Types
        </h3>
    </div>
    <div class="card-body">
        <ul>
            {% for list_annotation_type in annotation_types %}
                <li>
                    {% if list_annotation_type == annotation_type %}
                        <b>
                            {{ list_annotation_type.name }}
                            <span class="text-orientation-right-css" style="background-color: {{ list_annotation_type.color_code }};">  ~~ </span>
                        </b>
                    {% else %}
                        <a href="{% url "administration:annotation_type" list_annotation_type.id %}">
                            {{ list_annotation_type.name }}
                            <span class="text-orientation-right-css" style="background-color: {{ list_annotation_type.color_code }};">  ~~ </span>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="card" style="text-align: left;">
    <div class="card-header">
        <h3>
            Assigned Annotation Types
        </h3>
    </div>
    <div class="card-body">

        {% if teams %}
        <ul>
            {% for team in teams %}
                <li>
                    Team: 
                    <a href="{% url "users:team" team.id %}">
                        {{ team.name }}
                    </a>
                    <ul>
                        {% for product in team.product_set.all %}
                            <li>
                                Product: 
                                <a href="{% url "administration:product" product.id %}">
                                    {{ product.name }}
                                </a>
                                <ul>
                                    {% for list_annotation_type in product.annotationtype_set.all %}
                                        <li>
                                            {% if list_annotation_type == annotation_type %}
                                                <b>
                                                    {{ list_annotation_type.name }}
                                                    <span class="text-orientation-right-css" style="background-color: {{ list_annotation_type.color_code }};">  ~~ </span>
                                                </b>
                                            {% else %}
                                                <a href="{% url "administration:annotation_type" list_annotation_type.id %}">
                                                    {{ list_annotation_type.name }}
                                                    <span class="text-orientation-right-css" style="background-color: {{ list_annotation_type.color_code }};">  ~~ </span>
                                                </a>
                                            {% endif %}

                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>