<div class="card">
    <div class="card-header">
        <h5>Imagesets</h5>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a [class]="'nav-link' + ((isNavActive('pinned') | async) ? ' active': '')"
                   routerLink="../pinned">Pinned Sets</a>
            </li>
            <li *ngFor="let team of user.teams">
                <a [class]="'nav-link ' + ((isNavActive(team.id) | async) ? ' active' : '')"
                   [routerLink]="'../' + team.id">{{team.name}}'s Sets</a>
            </li>
        </ul>
    </div>

    <div *ngIf="(isNavActive('pinned') | async) && (visibleSets$ | async)?.length == 0" class="card-body">
        <div class="container">
            <h1 class="display-4">No pinned sets</h1>
            <p class="lead">
                You don't have any pinned sets yet. <span class="mx-3"></span>Sad :(<br>
                You can pin an Imageset when viewing it on the top-right.
            </p>
        </div>
    </div>

    <div *ngIf="!(isNavActive('pinned') | async) && (visibleSets$ | async)?.length === 0" class="card-body">
        <div class="container">
            <h1 class="display-4">No Imagesets</h1>
            <p class="lead">
                This Team does not have any Imagesets yet. <span class="mx-3"></span>Sad :(<br>
                You can create a new Imageset on the right side of this page via "Create Imageset"
            </p>
        </div>
    </div>

    <div *ngIf="(visibleSets$ | async)?.length > 0" class="card-body">
        <ul class="list-group">
            <a *ngFor="let set of (visibleSets$ | async)" class="list-group-item list-group-item-action"
               [routerLink]="'../imagesets/' + set.id">
                {{set.name}} <span class="text-muted">({{set.numberOfImages}} images)</span>
            </a>
        </ul>
    </div>
</div>
