<div class="container-fluid">
    <div class="row">
        <div class="col col-12"><h1>Home</h1></div>
    </div>

    <div class="row">
        <div class="col col-8"><app-list-imagesets></app-list-imagesets></div>
        <div class="col col-4">
            <div class="row">
                <div class="container-fluid">
                    <app-create-team></app-create-team>
                </div>
                <div class="container-fluid">
                    <h3>Create Imageset</h3>
                </div>
                <div class="container-fluid">
                    <h3>Imagetagger Stats</h3>
                </div>
            </div>
        </div>
    </div>
</div>
