{% load static %}
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="{% static 'symbols/exact_small.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

	{% if frontend == 2 %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles_v2.css' %}">
	{% else %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	{% endif %}
	{% block taggerimports %}

	{% endblock %}
	<title>EXACT Label Server</title>
</head>

<body>
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	
	{% block selectorblock %}{% endblock %}

	{% if frontend == 2 %}
	<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
		<a class="navbar-brand exact-logo" href="/images/">
			<img src="{% static 'images/logo.svg' %}" height="40px">
		</a>

		<div id="navbar" class="navbar-collapse collapse">

	{% else %}
	<nav class="navbar navbar-light bg-light fixed-top navbar-expand-md">
		<a class="navbar-brand exact-logo" href="/images/">
			<img src="{% static 'symbols/exact_small.png' %}" height="40px">
		</a>

		<div id="navbar" class="navbar-collapse collapse">
	{% endif %}
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item"><a href="{% url 'images:index' %}" class="nav-link">Home</a>
				</li>
				{% block navblock %}{% endblock %}
				{% if request.user.is_authenticated%}
				<li class="nav-item">
					<a href="{% url 'ImageSetView-list' %}" class="nav-link">Explore</a>
				</li>

				{% if show_datasets %}
				<li class="nav-item">
					<a href="{% url 'datasets:index' %}" class="nav-link">Demo</a>
				</li>
				{% endif %}

				{% if show_processing_panel %}
				<li class="nav-item">
					<a class="upper-bandage-parent" href="{% url 'processing:index' %}">
						Process
						{% if processing_queue %}
						<span class="badge upper-bandage">
							{{processing_queue}}
						</span>
						{% endif %}
					</a>
				</li>
				{% endif %}
				

				<li class="nav-item dropdown">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false" id="administrationNavbarDropdown">
						Administration
					</a>
					<div class="dropdown-menu" aria-labelledby="administrationNavbarDropdown">
						<a class="dropdown-item" href="{% url 'administration:products' %}">Products</a>
						<a class="dropdown-item" href="{% url 'administration:annotation_types' %}">Annotation Types</a>
						{% if show_processing_panel %}
						<a class="dropdown-item" href="{% url 'administration:plugins' %}">Plugins</a>
						{% endif %}
						<a class="dropdown-item" href="{% url 'administration:storage' %}">Storage</a>
					</div>
				</li>
				{% if my_teams %}
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false" id="teamsNavbarDropdown">
						My Teams
					</a>
					<div class="dropdown-menu" aria-labelledby="teamsNavbarDropdown">
						{% for team in my_teams %}
						<a class="dropdown-item" a href="{% url 'users:team' team.id %}">{{team.name}}</a>
						{% endfor %}
					</div>
				</li>
				{% endif %}
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false" id="usernameNavbarDropdown">
						{{ request.user.username }}
					</a>
					<div class="dropdown-menu" aria-labelledby="usernameNavbarDropdown">
						<a class="dropdown-item" href="{% url 'users:user' user.id %}">Profile</a>
						<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
						<a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
					</div>
				</li>
				{% else %}
				<li class="nav-item">
					<a href="{% url 'login' %}" class="nav-link">Login</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<div class="content container-fluid h-100">
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
		{% endfor %}
		<noscript>
			<div class="alert alert-danger">Appearently, you have JavaScript disabled. This website will not work
				properly without JavaScript
			</div>
		</noscript>
		{% block bodyblock %}{% endblock %}
	</div>
	{% block additional_js %}

	<script type="text/javascript" src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>

	{% endblock additional_js %}
</body>

</html>