{% extends 'base/base.html' %}
{% load static %}
{% block additional_js %}
<script type="text/javascript" src="{% static 'scripts/jquery.autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/explore.js' %}"></script>
{% endblock %}
{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Explore </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a class="list-group-item{% if mode == 'imageset' %} active{% endif %}" href="{% url 'ImageSetView-list' %}">Imagesets  {% if mode == 'imageset' %} ({{paginator.paginator.count}}) {% endif %}</a>
                <a class="list-group-item{% if mode == 'images' %} active{% endif %}" href="{% url 'ImageView-list' %}">Images {% if mode == 'images' %} ({{paginator.paginator.count}}) {% endif %}</a>
                <a class="list-group-item{% if mode == 'annotations' %} active{% endif %}" href="{% url 'AnnotationView-list' %}">Annotations {% if mode == 'annotations' %} ({{paginator.paginator.count}}) {% endif %}</a>
                <a class="list-group-item{% if mode == 'annotation_types' %} active{% endif %}" href="{% url 'AnnotationTypeView-list' %}">Annotation Types {% if mode == 'annotation_types' %} ({{paginator.paginator.count}}) {% endif %}</a>
                <a class="list-group-item{% if mode == 'products' %} active{% endif %}" href="{% url 'ProductView-list' %}">Products {% if mode == 'products' %} ({{paginator.paginator.count}}) {% endif %}</a>
                <a class="list-group-item{% if mode == 'versions' %} active{% endif %}" href="{% url 'VersionView-list' %}">Versions {% if mode == 'versions' %} ({{paginator.paginator.count}}) {% endif %}</a>
                <a class="list-group-item{% if mode == 'annotation_versions' %} active{% endif %}" href="{% url 'AnnotationVersionView-list' %}">Annotation Versions {% if mode == 'annotation_versions' %} ({{paginator.paginator.count}}) {% endif %}</a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <dl>
                                {% if mode == 'imageset' %}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Name</th>
                                            <th>Tags</th>
                                            <th>Versions</th>
                                            <th>Products</th>
                                            <th>Statistics</th>
                                        </tr>

                                        {% for imageset in imagesets %}
                                            <tr>
                                                <th>
                                                    <dt>
                                                        {% if imageset.team %}
                                                            <a href="{% url 'users:team' imageset.team.id %}">{{imageset.team.name}}</a> /
                                                            <a href="{% url 'images:view_imageset' imageset.id %}">{{imageset.name}}</a>
                                                        {% else %}
                                                            <a href="{% url 'images:view_imageset' imageset.id %}">{{imageset.name}}</a>
                                                        {% endif %}
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt> 
                                                        {% for tag in imageset.set_tags.all %}
                                                            {{ tag.name }}<a href="{% url 'ImageSetView-list' %}?set_tags={{ tag.id }}"><span class="glyphicon glyphicon-filter"> </span></a> /
                                                        {% endfor %}
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt> 
                                                        <ul>
                                                            {% for version in imageset.set_versions.all %}
                                                            <li>
                                                                {{ version.name }} ({{version.annotationversion_set.count}})
                                                                <a href="{% url 'ImageSetView-list' %}?set_versions={{ version.id }}"><span class="glyphicon glyphicon-filter"> </span></a> 
                                                                <a href="{% url 'AnnotationVersionView-list' %}?version={{ version.id }}"><span class="glyphicon glyphicon-new-window"> </span></a> 
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </dt>
                                                </th>
                                            
                                                <th>
                                                    <dt>
                                                        {% for product in imageset.product_set.all %}
                                                            <a href="{% url 'administration:product' product.id %}"> {{ product.name }}</a>
                                                            <a href="{% url 'ImageSetView-list' %}?{{ first_query }}&product={{ product.id }}"><span class="glyphicon glyphicon-filter"> </span></a> 
                                                            <a href="{% url 'ProductView-list' %}?id={{ product.id }}"><span class="glyphicon glyphicon-new-window"> </span></a> /
                                                        {% endfor %}
                                                    </dt>
                                                </th>
                                                
                                                <th>
                                                    <ul>
                                                        <li>
                                                            Images: {{ imageset.images.count }}
                                                            <a href="{% url 'ImageView-list' %}?image_set={{ imageset.id }}"> 
                                                                <span class="glyphicon glyphicon-new-window"></span> 
                                                            </a>
                                                        </li>
                                                        {% if imageset.location is not None %}
                                                            <li>                                                    
                                                                {{ imageset.location }}                                                    
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </th>                                        
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}

                                {% if mode == 'images' %}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Properties</th>
                                            <th>Statistics</th>
                                            <th>Image</th>
                                        </tr>

                                        {% for image in images %}
                                        <tr>
                                            <th>
                                                <dt>
                                                    <a href="{% url 'users:team' image.image_set.team.id %}">{{image.image_set.team.name}}</a> /
                                                    <a href="{% url 'images:view_imageset' image.image_set.id %}">{{image.image_set.name}}</a> 
                                                    <a href="{% url 'ImageView-list' %}?image_set={{ image.image_set.id }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                    <a href="{% url 'ImageSetView-list' %}?id={{ image.image_set.id }}"><span class="glyphicon glyphicon-new-window"> </span></a> /
                                                    <a href="{% url 'annotations:annotate' image.id %}">{{image.name}}</a>
                                                </dt>
                                            </th>

                                            <th>
                                                <dt>
                                                    {% if image.image_type == 0 %} DEFAULT {% endif %}
                                                    {% if image.image_type == 1 %} SERVER_GENERATED {% endif %}
                                                    {% if image.image_type == 2 %} FILE_LINK {% endif %}
                                                    <a href="{% url 'ImageView-list' %}?{{ first_query }}&image_type={{ image.image_type }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                </dt>
                                            </th>

                                            <th>
                                                <dt>
                                                    <ul>
                                                        <li> Width: {{image.width}}<a href="{% url 'ImageView-list' %}?{{ first_query }}&width={{ image.width }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                        <li> Height: {{image.height}}<a href="{% url 'ImageView-list' %}?{{ first_query }}&height={{ image.height }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                        <li> MPP: {{image.mpp}}<a href="{% url 'ImageView-list' %}?{{ first_query }}&mpp={{ image.mpp }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                        <li> Objective Power: {{image.objectivePower}}<a href="{% url 'ImageView-list' %}?{{ first_query }}&objectivePower={{ image.objectivePower }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                        <li> Upload: {{image.time}}<a href="{% url 'ImageView-list' %}?{{ first_query }}&time={{ image.time }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                    </ul>                                                    
                                                </dt>
                                            </th>

                                            <th>
                                                <dt>
                                                    <ul>
                                                        <li> Annotations: {{image.annotations.count}} <a href="{% url 'AnnotationView-list' %}?image={{ image.id }}"><span class="glyphicon glyphicon-new-window"></span></a> </li>
                                                    </ul> 
                                                </dt>
                                            </th>

                                            <th>
                                                <img id="image" src="{% url 'images:view_thumbnail' image.id %}" alt="Thumbnail {{image.name}} not found!" style="float:right; width:128px;height:128px;" data-imageid="{{ image.id }}">
                                            </th>
                                        </tr>

                                        {% endfor %}

                                    </table>
                                {% endif %}

                                {% if mode == 'annotations' %}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Annotation</th>
                                            <th>Type</th>
                                            <th>History</th>
                                            <th>Properties</th>
                                            <th>Versions</th>
                                        </tr>

                                        {% for annotation in annotations %}
                                            <tr>
                                                <th>
                                                    <dt>
                                                        <a href="{% url 'users:team' annotation.image.image_set.team.id %}">{{annotation.image.image_set.team.name}}</a> /
                                                        <a href="{% url 'images:view_imageset' annotation.image.image_set.id %}">{{annotation.image.image_set.name}}</a> 
                                                        <a href="{% url 'ImageSetView-list' %}?id={{ annotation.image.image_set.id }}"><span class="glyphicon glyphicon-new-window"> </span></a>                                                        /
                                                        <a href="{% url 'annotations:annotate' annotation.image.id %}">{{annotation.image.name}}</a><!--TODO: Fix Link --> 
                                                        <a href="{% url 'AnnotationView-list' %}?{{ first_query }}&image={{ annotation.image.id }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                        <a href="{% url 'ImageView-list' %}?id={{ annotation.image.id }}"><span class="glyphicon glyphicon-new-window"> </span></a>
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt>
                                                        <a href="{% url 'administration:annotation_type' annotation.annotation_type.id %}">{{annotation.annotation_type.name}}</a> 
                                                        <a href="{% url 'AnnotationView-list' %}?{{ first_query }}&annotation_type={{ annotation.annotation_type.id }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                        <a href="{% url 'AnnotationTypeView-list' %}?id={{ annotation.annotation_type.id }}"><span class="glyphicon glyphicon-new-window"> </span></a>
                                                    </dt>
                                                    <dt>
                                                        {% if annotation.annotation_type.vector_type == 1 %} BOUNDING_BOX {% endif %}
                                                        {% if annotation.annotation_type.vector_type == 2 %} POINT {% endif %}
                                                        {% if annotation.annotation_type.vector_type == 3 %} LINE {% endif %}
                                                        {% if annotation.annotation_type.vector_type == 4 %} MULTI_LINE {% endif %}
                                                        {% if annotation.annotation_type.vector_type == 5 %} POLYGON {% endif %}
                                                        {% if annotation.annotation_type.vector_type == 6 %} FIXED_SIZE_BOUNDING_BOX {% endif %}
                                                        {% if annotation.annotation_type.vector_type == 7 %} GLOBAL {% endif %}
                                                        <a href="{% url 'AnnotationView-list' %}?{{ first_query }}&annotation_type.vector_type={{ annotation.annotation_type.vector_type }}"><span class="glyphicon glyphicon-filter"> </span></a>                                                        
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt>
                                                        <ul>
                                                            <li> User: {{annotation.user.username}}<a href="{% url 'AnnotationView-list' %}?{{ first_query }}&user={{ annotation.user.id }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                            <li> Last Editor: {{annotation.last_editor.username}}<a href="{% url 'AnnotationView-list' %}?{{ first_query }}&last_editor={{ annotation.last_editor.id }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                            <li> Deleted: {{annotation.deleted}}<a href="{% url 'AnnotationView-list' %}?{{ first_query }}&deleted={{ annotation.deleted }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                        </ul>                                                    
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt>
                                                        <ul>
                                                            <li> UUID: {{annotation.unique_identifier}}<a href="{% url 'AnnotationView-list' %}?{{ first_query }}&unique_identifier={{ annotation.unique_identifier }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                            <li> Description: {{annotation.description}}<a href="{% url 'AnnotationView-list' %}?{{ first_query }}&description={{ annotation.description }}"><span class="glyphicon glyphicon-filter"></span></a> </li>
                                                        </ul>
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt>
                                                        <ul>
                                                            {% for anno_version in annotation.annotationversion_set.all %}
                                                            <li>
                                                                {% if anno_version.has_changes == True %} 
                                                                    <span class="glyphicon glyphicon-exclamation-sign" style="background-color: yellow;"> </span> 
                                                                {% endif %}
                                                                {{ anno_version.version.name }}
                                                                <a href="{% url 'AnnotationVersionView-list' %}?annotation={{ annotation.id }}"><span class="glyphicon glyphicon-new-window"> </span></a> 
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </dt>
                                                </th>


                                                {% if annotation.annotation_type.vector_type == 7 %}
                                                    <th>
                                                        <img id="image" src="{% url 'images:view_thumbnail' annotation.image.id %}" alt="Thumbnail {{annotation.image.name}} not found!" style="float:right; width:128px;height:128px;" data-imageid="{{ annotation.image.id }}">
                                                    </th>
                                                {% endif %}

                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}

                                {% if mode == 'annotation_types' %}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Annotation Type</th>
                                            <th>Properties</th>
                                            <th>Statistics</th>
                                            <th>Image</th>
                                        </tr>

                                        {% for annotation_type in annotation_types %}
                                            <tr>
                                                <th>
                                                    <dt>
                                                        <a href="{% url 'users:team' annotation_type.product.team.id %}">{{annotation_type.product.team.name}}</a> /
                                                        <a href="{% url 'administration:product' annotation_type.product.id %}"> {{ annotation_type.product.name }} 
                                                        <a href="{% url 'AnnotationTypeView-list' %}?{{ first_query }}&product={{ annotation_type.product.id }} "><span class="glyphicon glyphicon-filter"> </span></a>
                                                        <a href="{% url 'ProductView-list' %}?id={{ annotation_type.product.id }} "><span class="glyphicon glyphicon-new-window"> </span></a> /
                                                        <a href="{% url 'administration:annotation_type' annotation_type.id %}">{{annotation_type.name}}</a>
                                                        <a href="{% url 'AnnotationTypeView-list' %}?{{ first_query }}&id={{ annotation_type.id }}"><span class="glyphicon glyphicon-filter"> </span></a> 
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt>
                                                        <ul>
                                                            <li> Active: {{annotation_type.active}}<a href="{% url 'AnnotationTypeView-list' %}?{{ first_query }}&active={{ annotation_type.active }}"><span class="glyphicon glyphicon-filter"> </span></a> </li>
                                                            <li>                                                                 
                                                                Width: {{annotation_type.default_width}} <a href="{% url 'AnnotationTypeView-list' %}?{{ first_query }}&default_width={{ annotation_type.default_width }}"><span class="glyphicon glyphicon-filter"> </span></a> / 
                                                                Height: {{annotation_type.default_height}}<a href="{% url 'AnnotationTypeView-list' %}?{{ first_query }}&default_width={{ annotation_type.default_height }}"><span class="glyphicon glyphicon-filter"> </span></a> 
                                                            </li>

                                                            <li>
                                                                Type:
                                                                <dt>
                                                                    {% if annotation_type.vector_type == 1 %} BOUNDING_BOX {% endif %}
                                                                    {% if annotation_type.vector_type == 2 %} POINT {% endif %}
                                                                    {% if annotation_type.vector_type == 3 %} LINE {% endif %}
                                                                    {% if annotation_type.vector_type == 4 %} MULTI_LINE {% endif %}
                                                                    {% if annotation_type.vector_type == 5 %} POLYGON {% endif %}
                                                                    {% if annotation_type.vector_type == 6 %} FIXED_SIZE_BOUNDING_BOX {% endif %}
                                                                    {% if annotation_type.vector_type == 7 %} GLOBAL {% endif %}
                                                                    <a href="{% url 'AnnotationTypeView-list' %}?{{ first_query }}&vector_type={{ annotation_type.vector_type }}"><span class="glyphicon glyphicon-filter"> </span></a>                                                        
                                                                </dt>
                                                            </li>
                                                        </ul>                                                    
                                                    </dt>
                                                </th>

                                                
                                                <th>
                                                    <dt>
                                                        <ul>
                                                            <li> Annotations: {{annotation_type.annotation_set.count}} <a href="{% url 'AnnotationView-list' %}?annotation_type={{ annotation_type.id }}"><span class="glyphicon glyphicon-new-window"></span></a> </li>
                                                        </ul>                                                    
                                                    </dt>
                                                </th>

                                                <th>
                                                    <img src="{{ annotation_type.image_file }}" style="widows: 50px; height: 50px">
                                                </th>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}

                                {% if mode == 'products' %}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Product</th>
                                            <th>Image Sets</th>
                                            <th>Annotation Types</th>
                                        </tr>

                                        {% for product in products %}
                                            <tr>
                                                <th>
                                                    <dt>
                                                        <a href="{% url 'users:team' product.team.id %}">{{product.team.name}}</a> /
                                                        <a href="{% url 'administration:product' product.id %}"> {{ product.name }} 
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt>
                                                        {% for imageset in product.imagesets.all %}
                                                            <a href="{% url 'images:view_imageset' imageset.id %}">{{imageset.name}}</a>
                                                            <a href="{% url 'ProductView-list' %}?{{ first_query }}&imagesets={{ imageset.id }} "><span class="glyphicon glyphicon-filter"> </span></a>
                                                            <a href="{% url 'ImageSetView-list' %}?id={{ imageset.id }} "><span class="glyphicon glyphicon-new-window"> </span></a> /
                                                        {% endfor %}
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt>
                                                        {% for annotation_type in product.annotationtype_set.all %}
                                                            <a href="{% url 'administration:annotation_type' annotation_type.id %}">{{annotation_type.name}}</a> 
                                                            <a href="{% url 'ProductView-list' %}?{{ first_query }}&annotationtype={{ annotation_type.id }} "><span class="glyphicon glyphicon-filter"> </span></a>
                                                            <a href="{% url 'AnnotationTypeView-list' %}?id={{ annotation_type.id }} "><span class="glyphicon glyphicon-new-window"> </span></a> /
                                                        {% endfor %}
                                                    </dt>
                                                </th>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}

                                {% if mode == 'versions' %}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Version</th>
                                            <th>Image Sets</th>
                                            <th>Properties</th>
                                        </tr>

                                        {% for version in versions %}
                                            <tr>
                                                <th>
                                                    <dt> {{version.name}} </dt> {{version.time}}                                                    
                                                </th>

                                                <th>
                                                    <dt>
                                                        {% for imageset in version.imagesets.all %}
                                                            <a href="{% url 'images:view_imageset' imageset.id %}">{{imageset.name}}</a>
                                                            <a href="{% url 'ImageSetView-list' %}?id={{ imageset.id }} "><span class="glyphicon glyphicon-new-window"> </span></a> /
                                                        {% endfor %}
                                                    </dt>
                                                </th>

                                                <th>
                                                    <dt>
                                                        <ul>
                                                            <li>
                                                                Annotations: ({{version.annotationversion_set.count}})
                                                                <a href="{% url 'AnnotationVersionView-list' %}?version={{ version.id }}"><span class="glyphicon glyphicon-new-window"> </span></a> 
                                                            </li>
                                                            <li>
                                                                File: {{version.file}}
                                                            </li>
                                                            <li>
                                                                File Upload:
                                                                <form method="Patch" enctype="multipart/form-data">
                                                                    <input type="file" name="file" />
                                                                    <input type="submit" name="submit" value="Upload" />
                                                                </form>
                                                            </li> 
                                                        </ul>
                                                    </dt>
                                                </th>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}

                                {% if mode == 'annotation_versions' %}
                                <table class="table table-striped">
                                    <tr>
                                        <th>Annotation</th>
                                        <th>Version</th>
                                        <th>Old</th>
                                        <th>New</th>
                                    </tr>
                                    {% for anno_version in annotation_versions %}
                                    <tr>
                                        <th>
                                            <dt>
                                                <a href="{% url 'users:team' anno_version.image.image_set.team.id %}">{{anno_version.image.image_set.team.name}}</a> /
                                                <a href="{% url 'images:view_imageset' anno_version.image.image_set.id %}">{{anno_version.image.image_set.name}}</a> 
                                                <a href="{% url 'ImageSetView-list' %}?id={{ anno_version.image.image_set.id }}"><span class="glyphicon glyphicon-new-window"> </span></a>                                                        /
                                                <a href="{% url 'annotations:annotate' anno_version.image.id %}">{{anno_version.image.name}}</a><!--TODO: Fix Link --> 
                                                <a href="{% url 'AnnotationVersionView-list' %}?{{ first_query }}&image={{ anno_version.image.id }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                <a href="{% url 'ImageView-list' %}?id={{ anno_version.image.id }}"><span class="glyphicon glyphicon-new-window"> </span></a>
                                            </dt>
                                        </th>

                                        <th>
                                            <ul>
                                                <li>
                                                    {% if anno_version.has_changes == True %} 
                                                        <span class="glyphicon glyphicon-exclamation-sign" style="background-color: yellow;"> </span> 
                                                    {% endif %}
                                                    Changes: {{anno_version.has_changes}} <a href="{% url 'AnnotationVersionView-list' %}?{{ first_query }}&has_changes={{ anno_version.has_changes }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                </li>
                                                <li>
                                                    Name: {{anno_version.version.name}} <a href="{% url 'AnnotationVersionView-list' %}?{{ first_query }}&version={{ anno_version.version.id }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                </li>

                                                <li> Date: {{anno_version.version.time}} </li>
                                            </ul>
                                        </th>

                                        <th>
                                            <ul>
                                                <li>
                                                    User: {{anno_version.annotation.user.username}}
                                                </li>
                                                <li>
                                                    Type: {{anno_version.annotation_type.name}} <a href="{% url 'AnnotationVersionView-list' %}?{{ first_query }}&annotation_type={{ anno_version.annotation_type.id }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                </li>
                                                <li>
                                                    Deleted: {{anno_version.deleted}} <a href="{% url 'AnnotationVersionView-list' %}?{{ first_query }}&deleted={{ anno_version.deleted }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                </li>
                                                <li>
                                                    Vector: 
                                                    <input type="text" style="max-width: fit-content;" value="{{anno_version.vector}} " readonly>
                                                </li>
                                            </ul>

                                        </th>

                                        <th>
                                            <ul>
                                                <li>
                                                    User: {{anno_version.annotation.last_editor.username}}
                                                </li>
                                                <li>
                                                    {% if anno_version.annotation_type.id != anno_version.annotation.annotation_type.id %} 
                                                        <span class="glyphicon glyphicon-exclamation-sign" style="background-color: yellow;"> </span> 
                                                    {% endif %}
                                                    Type: {{anno_version.annotation.annotation_type.name}} <a href="{% url 'AnnotationVersionView-list' %}?{{ first_query }}&annotation_type={{ anno_version.annotation.annotation_type.id }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                </li>
                                                <li>
                                                    {% if anno_version.deleted != anno_version.annotation.deleted %} 
                                                        <span class="glyphicon glyphicon-exclamation-sign" style="background-color: yellow;"> </span> 
                                                    {% endif %}
                                                    Deleted: {{anno_version.annotation.deleted}} <a href="{% url 'AnnotationVersionView-list' %}?{{ first_query }}&deleted={{ anno_version.annotation.deleted }}"><span class="glyphicon glyphicon-filter"> </span></a>
                                                </li>
                                                <li>
                                                    {% if anno_version.vector != anno_version.annotation.vector %} 
                                                        <span class="glyphicon glyphicon-exclamation-sign" style="background-color: yellow;"> </span> 
                                                    {% endif %}
                                                    Vector: 
                                                    <input type="text" style="max-width: fit-content;" value="{{anno_version.annotation.vector}} " readonly>
                                                </li>
                                            </ul>
                                        </th>

                                    </tr>


                                    {% endfor %}

                                </table>
                                {% endif %}

                            </dl>

                            {% if paginator.has_other_pages %}
                            <div class="pagination">
                                <hr>
                                <span class="step-links">
                                    <div class="btn-group" role="group" aria-label="btn-group">
                                        {% if paginator.has_previous %}
                                            <a class="btn btn-default" href="?{{ first_query }}">&laquo; first</a>
                                            <a class="btn btn-default" href="?{{ previous_query }}">previous</a>
                                        {% endif %}
                                            <span class="current btn btn-default">
                                                Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}
                                            </span>
                                        {% if paginator.has_next %}
                                            <a class="btn btn-default" href="?{{ next_query }}">next</a>
                                            <a class="btn btn-default" href="?{{ last_query }}">last &raquo;</a>
                                        {% endif %}
                                    </div>
                                </span>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <h3>
                Filters
            </h3>

            <!--{% block filter %}
                {% if filter %}
                    <form method="get">
                        {{ filter.form.as_p }}
                        <input type="submit" />
                    </form>           
                {% endif %}         
            {% endblock %}--->
        </div>
    </div>
</div>

{% endblock %}
