{% extends 'base/base.html' %} {% load static %} {% load widget_tweaks %} {% block additional_annotation_js %}
<script type="text/javascript" src="{% static 'annotations/js/openseadragon.min.js' %}"></script>
<script type="text/javascript" src="{% static 'annotations/js/OpenSeadragonHTMLelements.js' %}"></script>
{% endblock additional_annotation_js %} {% block bodyblock %}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h3> Marked Datasets </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% if last_image_action %}
                                <div class="col-sm-3">
                                    <div class="card">
                                        <a href="{% url 'annotations:annotate' last_image_action.image.id %}">
                                            <img class="card-img-top" src="{% url 'images:view_thumbnail' last_image_action.image.id %}"
                                                alt="Thumbnail {{image.name}} not found!" data-imageid="{{ last_image_action.image.id }}">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <a href="{% url 'images:view_imageset' last_image_action.image.image_set.id%}">
                                                    {{ last_image_action.image.image_set.name }} ({{ last_image_action.image.image_set.image_count }} images) {{ last_image_action.image.image_set.prio_symbol | safe }}
                                                </a>
                                            </h5>                
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="col-sm">
                                <div class="card-columns">
                                    {% for imageset in user.pinned_sets.all|dictsort:"name" %}                    
                                        <div class="card">
                                            {% for image in imageset.images.all|slice:":1" %}
                                                <a href="{% url 'annotations:annotate' image.id %}">
                                                    <img class="card-img-top" src="{% url 'images:view_thumbnail' image.id %}"
                                                        alt="Thumbnail {{image.name}} not found!" data-imageid="{{ image.id }}">
                                                </a>
                                            {% endfor %}
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="{% url 'images:view_imageset' imageset.id%}">
                                                        {{ imageset.name }} ({{ imageset.image_count }} images) {{ imageset.prio_symbol | safe }}
                                                    </a>
                                                </h5>                
                                            </div>
                                        </div>
                                    {% endfor %} 
                                </div>
                            </div>
                        </div>


                        <div class="card-columns">
                            {% for imageset in team.image_sets.all|dictsort:"name" %}                    
                                <div class="card">
                                    {% for image in imageset.images.all|slice:":1" %}
                                        <a href="{% url 'annotations:annotate' image.id %}">
                                            <img class="card-img-top" src="{% url 'images:view_thumbnail' image.id %}"
                                                alt="Thumbnail {{image.name}} not found!" data-imageid="{{ image.id }}">
                                        </a>
                                    {% endfor %}
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{% url 'images:view_imageset' imageset.id%}">
                                                {{ imageset.name }} ({{ imageset.image_count }} images) {{ imageset.prio_symbol | safe }}
                                            </a>
                                        </h5>                
                                    </div>
                                </div>
                            {% endfor %} 
                        </div>    
                    </div> 
                </div>

            <div class="card">
                <div class="card-header">
                    <h3>
                        Datasets
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                {% for team in userteams %}
                                    {% if forloop.first %}
                                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-{{team.id}}" role="tab" aria-controls="v-pills-{{team.id}}" aria-selected="false">{{team.name}}</a>
                                    {% else %}
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-{{team.id}}" role="tab" aria-controls="v-pills-{{team.id}}" aria-selected="false">{{team.name}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="tab-content" id="v-pills-tabContent">
                                {% for team in userteams %}
                                {% if forloop.first %}
                                <div class="tab-pane fade show active" id="v-pills-{{team.id}}" role="tabpanel" aria-labelledby="v-pills-{{team.id}}-tab">
                                {% else %}
                                <div class="tab-pane fade" id="v-pills-{{team.id}}" role="tabpanel" aria-labelledby="v-pills-{{team.id}}-tab">
                                {% endif %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a href="{% url 'users:team' team.id %}">{{team.name}}</a>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-columns">
                                                {% for imageset in team.image_sets.all|dictsort:"name" %}                    
                                                    <div class="card">
                                                        {% for image in imageset.images.all|slice:":1" %}
                                                            <a href="{% url 'annotations:annotate' image.id %}">
                                                                <img class="card-img-top" src="{% url 'images:view_thumbnail' image.id %}"
                                                                    alt="Thumbnail {{image.name}} not found!" data-imageid="{{ image.id }}">
                                                            </a>
                                                        {% endfor %}
                                                        <div class="card-body">
                                                            <h5 class="card-title">
                                                                <a href="{% url 'images:view_imageset' imageset.id%}">
                                                                    {{ imageset.name }} ({{ imageset.image_count }} images) {{ imageset.prio_symbol | safe }}
                                                                </a>
                                                            </h5>                
                                                        </div>
                                                    </div>
                                                {% endfor %} 
                                            </div>    
                                        </div> 
                                    </div> 
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
          <div class="h-100 d-flex flex-column">
            <div class="row justify-content-end">
                <div class="card w-100">
                    <div class="card-header">
                        <h3>My Teams</h3>
                    </div>
                    <div class="card-body">
                        <p>Create new team:</p>
                        <form method="post" action="{% url 'users:create_team' %}">
                            {% csrf_token %}
                            <div class="input-group" role="group" aria-label="team_creation">
                                {% render_field team_creation_form.name placeholder=team_creation_form.name.label class+='form-control' %}
                                <span class="input-group-btn">
                                    <input class="btn btn-primary" type="submit" value="Create">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="card w-100">
                    <div class="card-header">
                        <h3 >Create imageset</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'images:create_imageset' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_name">{{ imageset_creation_form.name.label }}</label> {% render_field imageset_creation_form.name class+='form-control' placeholder=imageset_creation_form.name.label %}
                            </div>
                            <div class="form-group">
                                <label for="id_team">{{ imageset_creation_form.team.label }}</label> {% render_field imageset_creation_form.team class+='form-control' %}
                            </div>
                            <div class="form-group">
                                <label for="id_location">{{ imageset_creation_form.location.label }}</label> {% render_field imageset_creation_form.location class+='form-control' placeholder=imageset_creation_form.location.label %}
                            </div>
                            <div class="form-group">
                                <label for="id_public">{{ imageset_creation_form.public.label }} <span
                                        class="fa fa-question" data-toggle="tooltip"
                                        data-placement="right"
                                        title="Enables public users to read the imageset "></span></label> {% render_field imageset_creation_form.public %}
                            </div>
                            <div class="form-group">
                                <label for="id_public_collaboration">
                                    {{ imageset_creation_form.public_collaboration.label }} <span
                                        class="fa fa-question" data-toggle="tooltip"
                                        data-placement="right"
                                        title="Enables public users to annotate and verify in the imageset, when it is set public "></span>
                                </label> {% render_field imageset_creation_form.public_collaboration %}
                            </div>
                            <input class="btn btn-primary" type="submit" value="Create">
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}