{% extends 'base/base.html' %} {% load static %} {% load widget_tweaks %} {% block taggerimports %}
<script type="text/javascript" src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'annotations/js/openseadragon.min.js' %}"></script>
{% endblock taggerimports %}
 {% block bodyblock %}


<div class="container-fluid h-100 text-bg-dark" style="padding-top:20px">
    <div class="row justify-content-center h-100">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                {% for team in userteams %}
                                    {% if forloop.first and not last_image_action and last_image_action.image.id is not None %}
                                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-{{team.id}}" role="tab" aria-controls="v-pills-{{team.id}}" aria-selected="false">{{team.name}}</a>
                                    {% elif last_image_action.image.image_set.team.id == team.id %}
                                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-{{team.id}}" role="tab" aria-controls="v-pills-{{team.id}}" aria-selected="false">{{team.name}}</a>
                                    {% else %}
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-{{team.id}}" role="tab" aria-controls="v-pills-{{team.id}}" aria-selected="false">{{team.name}}</a>
                                    {% endif %}
                                {% endfor %}
                                    <div id="newTeamBodyActive" style="display:none">
                                        <form method="post" action="{% url 'users:create_team' %}">
                                            {% csrf_token %}
                                            <div class="input-group mb-3">
                                                <input type="text" name="name" class="form-control" placeholder="Team name" aria-label="Team name" aria-describedby="button-addon2">
                                                <div class="input-group-append">
                                                  <input class="btn btn-primary" type="submit" id="button-addon2" value="&#10003;"></input>
                                                  <button class="btn btn-danger" type="button" id="cancelTeambutton">&#10006;</button>
                                                </div>
                                              </div>
                                        </form>
                                    </div>
                                    <div id="newTeamBody">
                                    <a href="#" class="nav-link" id="newTeamButton"><img src="{% static 'images/new_team.svg' %}">New Team</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="tab-content" id="v-pills-tabContent">
                                {% for team in userteams %}
                                {% if forloop.first and not last_image_action and last_image_action.image.id is not None %}
                                    <div class="tab-pane fade show active" id="v-pills-{{team.id}}" role="tabpanel" aria-labelledby="v-pills-{{team.id}}-tab" data-team-id="{{team.id}}">
                                {% elif last_image_action.image.image_set.team.id == team.id %}
                                    <div class="tab-pane fade show active" id="v-pills-{{team.id}}" role="tabpanel" aria-labelledby="v-pills-{{team.id}}-tab" data-team-id="{{team.id}}">
                                {% else %}
                                    <div class="tab-pane fade" id="v-pills-{{team.id}}" role="tabpanel" aria-labelledby="v-pills-{{team.id}}-tab" data-team-id="{{team.id}}">
                                {% endif %}
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row imageset-container" id="imagesets-{{team.id}}">
                                                <div class="imageset-loading" style="padding:20px;color:#888;">
                                                    <span class="spinner-border spinner-border-sm" role="status"></span>
                                                    Loading…
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>
</div>

<script>
    var STATIC_ROOT = '{% static "" %}';
    var VIEW_IMAGESET_URL = '{% url "images:view_imageset" 0 %}'.replace('/0/', '/');
    var CREATE_IMAGESET_URL = '{% url "images:create_imageset" %}';
    var TEAM_IMAGESETS_URL = '/images/api/team/';

    var loadedTeams = new Set();

    function prioSymbol(priority) {
        if (priority === -1)
            return '<span class="glyphicon glyphicon-download" data-toggle="tooltip" data-placement="right" title="Low labeling priority"></span>';
        if (priority === 1)
            return '<span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="right" title="High labeling priority"></span>';
        return '';
    }

    function renderImagesets(imagesets, teamId) {
        var html = '';
        imagesets.forEach(function(iset) {
            html += '<div class="card imagecard"><center>';
            if (iset.first_image_id) {
                html += '<a href="' + VIEW_IMAGESET_URL + iset.id + '/">' +
                        '<div class="img-wrapper"><center>' +
                        '<img class="card-img-top" loading="lazy" ' +
                        'src="/api/v1/images/images/' + iset.first_image_id + '/thumbnail/" ' +
                        'alt="Thumbnail not found!"></center></div></a>';
            } else {
                html += '<a href="' + VIEW_IMAGESET_URL + iset.id + '/"><center>' +
                        '<div class="img-wrapper"><img class="card-img-top" ' +
                        'src="' + STATIC_ROOT + 'images/empty_imageset.svg" alt="Empty imageset">' +
                        '</div></center></a>';
            }
            html += '<div class="card-body"><h5 class="card-title">' +
                    '<a href="' + VIEW_IMAGESET_URL + iset.id + '/">' +
                    iset.name + ' <br> (' + iset.image_count + ' images) ' + prioSymbol(iset.priority) +
                    '</a></h5></div></div>';
        });
        // Add "new imageset" card
        html += '<div class="card imagecard"><center>' +
                '<a href="#" id="newImagesetButton-' + teamId + '"><div class="img-wrapper">' +
                '<img class="card-img-top" src="' + STATIC_ROOT + 'images/new_imageset.svg" alt="Create new imageset">' +
                '</div></a>' +
                '<div class="card-body" id="newImageSetBody-' + teamId + '">' +
                '<h5 class="card-title">New imageset</h5></div>' +
                '<div class="card-body" id="newImageSetBodyActive-' + teamId + '" style="display:none">' +
                '<h5 class="card-title">' +
                '<form method="post" action="' + CREATE_IMAGESET_URL + '">' +
                '{% csrf_token %}' +
                '<div class="input-group mb-3">' +
                '<input type="hidden" name="team" value="' + teamId + '">' +
                '<input type="text" name="name" class="form-control" placeholder="Imageset name" aria-label="Imageset name" aria-describedby="button-addon2-' + teamId + '">' +
                '<div class="input-group-append">' +
                '<input class="btn btn-primary" type="submit" id="button-addon2-' + teamId + '" value="&#10003;"></input>' +
                '<button class="btn btn-danger" type="button" id="cancelbutton-' + teamId + '">&#10006;</button>' +
                '</div></div></form></h5></div></div>';
        return html;
    }

    function attachNewImagesetHandlers(teamId) {
        $('#newImagesetButton-' + teamId).on('click', function() {
            $('#newImageSetBody-' + teamId).hide();
            $('#newImageSetBodyActive-' + teamId).show();
        });
        $('#cancelbutton-' + teamId).on('click', function() {
            $('#newImageSetBody-' + teamId).show();
            $('#newImageSetBodyActive-' + teamId).hide();
        });
    }

    function loadTeamImagesets(teamId) {
        if (loadedTeams.has(teamId)) return;
        loadedTeams.add(teamId);
        var container = document.getElementById('imagesets-' + teamId);
        $.getJSON(TEAM_IMAGESETS_URL + teamId + '/imagesets/', function(data) {
            container.innerHTML = renderImagesets(data, teamId);
            attachNewImagesetHandlers(teamId);
        }).fail(function() {
            container.innerHTML = '<div style="padding:12px;color:#c00;">Failed to load imagesets.</div>';
        });
    }

    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();

        // Load active tab immediately
        var activePane = $('.tab-pane.active[data-team-id]');
        if (activePane.length) {
            loadTeamImagesets(activePane.data('team-id'));
        }

        // Load on tab switch (click delegation is reliable across Bootstrap versions)
        $(document).on('click', '[data-toggle="pill"]', function() {
            var target = $(this).attr('href');
            var teamId = $(target).data('team-id');
            if (teamId) loadTeamImagesets(teamId);
        });

        $('#newTeamButton').on('click', function() {
            $('#newTeamBody').hide();
            $('#newTeamBodyActive').show();
        });
        $('#cancelTeambutton').on('click', function() {
            $('#newTeamBody').show();
            $('#newTeamBodyActive').hide();
        });
    });
</script>

{% endblock %}
