{% extends 'base/base.html' %} {% load static %} {% load widget_tweaks %} {% block additional_annotation_js %}
<script type="text/javascript" src="{% static 'annotations/js/openseadragon.min.js' %}"></script>
{% endblock additional_annotation_js %} {% block bodyblock %}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Processing Queue
                    </h3>
                </div>
                <div class="card-body">
                    <table>
                        <tr><th>Job ID</th><th>User</th><th>Image</th><th>Plugin</th><th>Created</th><th>ETA</th><th>Complete</th><th>Actions</th></tr>
                                {% for job in current_jobs %}
                                        <tr><td>{{job.id}}</td><td>{{job.creator.username}}</td><td><a href="{% url "annotations:annotate" job.image.id %}">{{job.image.name}}</a></td><td>{{job.plugin.name}}</td><td>{{job.created_time}}</td><td>{{job.eta_time}}</td><td>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{job.processing_complete|floatformat:1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.processing_complete|floatformat:0}}%">{{job.processing_complete}} %</div>
                                              </div>
                                            </td><td>
                                            {%if job.processing_complete == 0 %}
                                            {% if job.creator == user %}
                                            <a href="{% url "processing:stop" job.id %}">X</a>
                                            {% endif %}
                                            {% endif %}
                                        </td></td></tr>
                                {% endfor %}
                            
                        </div>
                    </table>
                </div>
            </div>
        </div>
      </div>
</div>
{% endblock %}