<form [formGroup]="form">
    <div class="form-group">
        <label for="inp-annotationType">Select an Annotation Type</label>
        <select id="inp-annotationType" class="form-control" formControlName="annotationType">
            <option *ngFor="let at of annotationTypes" [ngValue]="at.name">{{at.name}}</option>
        </select>
    </div>
    <div class="form-group form-check">
        <input class="form-check-input" id="inp-notInImage" type="checkbox"
               formControlName="notInImage">
        <label class="form-check-label" for="inp-notInImage">Not in Image</label>
    </div>
    <div class="form-group form-check">
        <input class="form-check-input" id="inp-blurred" type="checkbox" formControlName="blurred">
        <label class="form-check-label" for="inp-blurred">Blurred</label>
    </div>
    <div class="form-group form-check">
        <input class="form-check-input" id="inp-concealed" type="checkbox"
               formControlName="concealed">
        <label class="form-check-label" for="inp-concealed">Concealed</label>
    </div>
</form>
