<div class="container-fluid">
    <div class="row">
        <div class="col col-3">
            <div class="card">
                <h5 class="card-header">Images</h5>
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="col col-6">
            <div class="card">
                <h5 class="card-header">Information about {{imageSet.name}}
                    <button [class]="'float-right btn btn-' + (   imageSet.isPinned ? '' : 'outline-') + 'primary'" (click)="togglePin()">
                        <i class="fa fa-thumb-tack"></i>
                    </button>
                </h5>
                <div class="card-body">
                    <table class="table table-striped table-sm">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{imageSet.name}}</td>
                        </tr>
                        <tr>
                            <td>Team</td>
                            <td>{{imageSet.team.name}}</td> <!-- TODO Figure out how to resolve team -->
                        </tr>
                        <tr>
                            <td>Tags</td>
                            <td *ngIf="!imageSet.tags">No tags</td>
                            <td *ngIf="imageSet.tags">
                                <span *ngFor="let tag of imageSet.tags" class="badge">{{tag}} </span>
                            </td> <!-- TODO Link to explore with tag as search -->
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{imageSet.location}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{imageSet.description}}</td>
                        </tr>
                        <tr>
                            <td>Creator</td>
                            <td>{{imageSet.creator.name}}</td>
                        </tr>
                        <tr>
                            <td>Image Count</td>
                            <td>{{imageSet.numberOfImages}}</td>
                        </tr>
                        <tr>
                            <td>Annotation Count</td>
                            <td>NYI</td> <!-- TODO Count annotations -->
                        </tr>
                        <tr>
                            <td>Download</td>
                            <td>
                                <ul>
                                    <li><a routerLink="./">Download zip</a></li>
                                    <!-- TODO Figure out how to download zips -->
                                    <li>
                                <span>Use <a routerLink="./">Imagetagger Download Script</a> to download all images
                                to your current directory:</span><br>
                                        <code class="m-3">
                                            ./imagetagger_dl_script.py {{imageSet.id}}
                                        </code>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col col-3">
            <div class="card">
                <h5 class="card-header">Annotation Management</h5>
                <div class="card-body">
                    <div class="alert alert-danger">This is not yet implemented</div>
                    <!-- TODO Implement "Annotate whole set" -->
                </div>
            </div>
            <div class="my-2"></div>
            <div class="card">
                <h5 class="card-header">Export Tags to file</h5>
                <div class="card-body">
                    <div class="alert alert-danger">This is not yet implemented</div>
                    <!-- TODO Implement "Export tags to file" -->
                </div>
            </div>
        </div>
    </div>
</div>
